<html>
<body>


    <nav class="navbar bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand">EverydayEase</a>
        </div>
      </nav>
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-outline-secondary btn-lg" (click)="doc()">Document</button>
</div>
<div class="row">
        <button type="button" class="btn btn-outline-secondary btn-lg" (click)="stage()">Stage</button>
</div>
<div class="row">
        <button type="button" class="btn btn-outline-secondary btn-lg" (click)="transport()">Transport</button>
  </div>

</div>
</body>
</html>